/////////////////////////// GLOBAL STYLE RESET /////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

////////////////////////////// MIXINS /////////////////////////////////////

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    // @if $breakpoint == big-desktop {
    //     @media only screen and (min-width: 112.5em) { @content };    //1800
    // }
}

//////////////////////// ANIMATIONS  ////////////////////////////////////@at-root

@keyframes drop {
	from {
	  opacity: 0;
	  transform: translateY(-50px);
	}
	70% {
		transform: translateY(20px);
	  animation-timing-function: ease-in;
	}
	to {
	  opacity: 1;
	  transform: translateY(0px);
	  animation-timing-function: ease-out;
	}
  }

///////////////////////// RESPONSIVE FONT SIZE //////////////////////////////////

html {
    // This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	
	@include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}


body {
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
    line-height: 1.7;
}



/////////////////////////////// VARIABLES ////////////////////////////////////

$main-font: 'Rubik', sans-serif;
$logo-font: 'Poppins', sans-serif;

$color-green: #52dc90;
$color-blue: rgb(0, 195, 255);
$color-light-gray: #fbfbfb;

$color-text-light-gray: rgb(138, 143,163);
$color-text-light-black: rgb(51, 51, 51);

$text-shadow-logo: 0px 2px 4px rgba(0,0,0,0.4);

/////////////////////////////// BUTTON //////////////////////////////////

.btn {
	background-color: white;
	border: solid 1px black;
	padding: 1rem 2rem;
	border-radius: 100px;
}

/////////////////////////////// LANDING PAGE //////////////////////////////////

.landing-page {
	height: 100vh;
}

.header {
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 100;
	padding: 0 10rem;
	background-color: $color-light-gray;

	@media (max-width: 1201px) {
		padding: 0 3rem;
		}
	&__logo {
		&--text {
			font-family: $logo-font;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 2.3rem;
			word-spacing: 10px;
			color: $color-green;
			letter-spacing: 1px;
			text-shadow: $text-shadow-logo;
		}
		
	}

	&__nav {
		
		&__list {
			list-style-type: none;
			display: flex;

			@media (max-width: 768px){
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				height: 40%;
				position: absolute;
				top: 8vh;
				right: 0;
				background-color: rgba($color-green, 0);
				padding: 2rem 2rem 1rem 3.5rem;
				transition: background-color .4s ease-in-out;
				
			}

			&.show {
				background-color: rgba($color-green, 0.7);
			}
			
			&__item {
				
				&:not(:last-child) {
					margin: 0 3rem 0 0;
				}

				&--link:link,
				&--link:visited {
					text-decoration: none;
					color: $color-text-light-gray;
					font-size: 1.6rem;
					text-transform: uppercase;
					// text-shadow: $text-shadow-1;
					font-weight: 500;
					display: inline-block;
					
					@media (max-width: 768px){
						color: $color-text-light-gray;
						font-size: 2.3rem;
						opacity: 0;
					}	
				}
				
				&--link:hover {
					color: $color-green;
					transform: translateY(-2px);

					@media (max-width: 768px){
						color: $color-light-gray;
					}
				}

				&--link:active,
				&--link:focus {
					transform: translateY(0px);
				}

			}
		}
	}
}

////////// HAMBURGER BUTTON //////////////

.menu__btn {
		position: relative;
		
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 6rem;
		background-color: $color-green;
		cursor: pointer;
		transition: all .5s ease-in-out;
		// border: 1px solid $color-text-light-black;
		border-radius: 100px;

		display: none;

		@media (max-width: 768px){
			display: flex;
		}

	&__hamburger {
		width: 3rem;
		height: 0.5rem;
		background-color: $color-text-light-gray;
		border-radius: 5px;
		transition: all .5s ease-in-out;
		position: relative;

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 3rem;
				height: 0.5rem;
				background-color: $color-text-light-gray;
				display: block;
				right: 0;
				border-radius: 5px;
				transition: all 650ms ease-in-out;
			}

			&::before {
				transform: translateY(-1.3rem);
			}

			&::after {
				transform: translateY(1.3rem);
			}
		}
	}

	.menu__btn.open .menu__btn__hamburger {
		transform: translateX(-4rem);
		background: transparent;

		&::before {
			transform: rotate(45deg) translate(2.8rem, -2.8rem);
		}

		&::after {
			transform: rotate(-45deg) translate(2.8rem, 2.8rem);
		}
	}

	

////////////////// MAIN TEXT AREA //////////////////////////

.content {
	height: 92vh;
	background: url('../images/background-image.jpg');
	background-size: cover;
	box-shadow: inset 0px 20px 20px -10px rgba(82,220,144,0.41);
	padding-right: 5rem;
	padding-left: 5rem;
	display: flex;

	@include respond(tab-land) { // width < 1200?
		flex-direction: column-reverse;
		justify-content: space-evenly;
    }

	align-items: center;
	justify-content: space-evenly;


	&__illustration {
		height: 40rem;
		margin-right: 10rem;

		// @media (max-width: 1350px){
		// 	height: 40rem;
		// }

		@include respond(tab-land) { // width < 1200?
			height: 35rem;
			
		}
	}

	&__text-box {

		margin-right: 5rem;

		@include respond(tab-land) { // width < 1200?
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__text {

			@include respond(tab-land) { // width < 1200?
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&--paragraph1-LP {
				font-size: 4rem;
				color: $color-text-light-black;
				font-weight: 500;
				
			}

			&--h1-LP {
				font-size: 6rem;
				color: $color-text-light-black;
				font-weight: 500;
				line-height: 1;
				&--span {
					color: $color-blue;
				}
			}

			&--paragraph2-LP {
				color: $color-text-light-gray;
				font-size: 2.5rem;
				margin-top:3rem;
			}
		}
	}
}